body {
    text-align: center;
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 50px;
    color: #30475E;
    /* font-family: 'Teko', sans-serif; */
    font-family: 'Caveat', cursive;
    font-size: 50px;
}

h2 {
    margin-top: 0;
    color: #222831;
    font-family: 'Caveat', cursive;
}

a {
    display: inline-block;
    text-align: right;
    padding: 10px;
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
}

a:link {
    color: #DDDDDD;
}

a:visited {
    color: #DDDDDD;
}

a:hover {
    color: #F05454;
}


img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    padding: 10px 8px 10px 8px;
    -webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

img:hover {
    -webkit-filter: blur(3px);
	filter: blur(3px);
}

p {
    font-size: 8px;
    margin: 0;
    padding-bottom: 5px;
    color: #F05454;
}

.banner {
    height: 30px;
    background-color: #30475E;
    display: block;
    position: fixed;
    top: 0;
    left: 0;    
    right: 0;
}

.topcontainer {
    background-color: #DDDDDD;
    padding-bottom: 70px;
}

.bottomcontainer{
    background-color: #222831;
}

.btn {
    background: #F05454;
    background-image: -webkit-linear-gradient(top, #F05454, #F05454);
    background-image: -moz-linear-gradient(top, #F05454, #F05454);
    background-image: -ms-linear-gradient(top, #F05454, #F05454);
    background-image: -o-linear-gradient(top, #F05454, #F05454);
    background-image: linear-gradient(to bottom, #F05454, #F05454);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  
.btn:hover {
background: #222831;
background-image: -webkit-linear-gradient(top, #222831, #222831);
background-image: -moz-linear-gradient(top, #222831, #222831);
background-image: -ms-linear-gradient(top, #222831, #222831);
background-image: -o-linear-gradient(top, #222831, #222831);
background-image: linear-gradient(to bottom, #222831, #222831);
text-decoration: none;
}

#applemusicbtn {
    bottom: 75px;
    right: 15px;
}

#instabtn {
    bottom: 45px;
    right: 15px;
}

#contectbtn {
    bottom: 15px;
    right: 15px;
}

#Copyright {
    color:#ffffff;
}

.imageinstalink {
padding: 0;
}
